<form id="chooseGraph">
    <label class="ms-Label">Choose a graph type :</label>
    <div>
        <button id="commits" class="ms-Button host-button">
            <span class="ms-Button-label">Commits</span>
        </button>
    </div>
    <div>
        <button id="contributions" class="ms-Button host-button">
            <span class="ms-Button-label">Contributions</span>
        </button>
    </div>
    <div>
        <button id="punchcard" class="ms-Button host-button">
            <span class="ms-Button-label">Punchcard</span>
        </button>
    </div>
    <div>
        <button id="issues" class="ms-Button host-button">
            <span class="ms-Button-label">Issues</span>
        </button>
    </div>
    <div>
        <button id="userProfile" class="ms-Button host-button">
            <span class="ms-Button-label">User Profile</span>
        </button>
    </div>

</form>