<form id="form">
    <label class="ms-Label">User profile</label>
    <div>
        <input  id="selectedUser" placeholder="eg, joeoh" class="ms-TextField-field">
    </div>
    <div class="ms-TextField">
        <label class="ms-Label">Single Repository?</label>
        <input  id="repositoryURL" placeholder="joeoh/GitMyStats" class="ms-TextField-field">
    </div>
    <div>
        <smallButton id="userProfileCancel" class="ms-Button host-button">
            <span class="ms-Button-label">Cancel</span>
        </smallButton>
        <smallButton id="userProfileInsert" class="ms-Button host-button">
            <span class="ms-Button-label">Insert</span>
        </smallButton>
    </div>
</form>