<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="commits-page">

    <template>
        <form>
            <label class="ms-fontWeight-semibold">Commits graph</label>
            <div class="ms-TextField">
                <label class="ms-Label">Repository URL</label>
                <input  id="repositoryURL" value="{{repo::input}}" class="ms-TextField-field">
            </div>
            <div>
                <label class="ms-Label">By Weekday Or Week</label>
                <select id="mode">
                    <option value="weekday">Weekday</option>
                    <option value="week">Week</option>
                </select>
            </div>
            <button-pair></button-pair>
        </form>
    </template>

    <script>
        Polymer({
            is: "commits-page",
            listeners: {
                "button-pair-insert": "insert"
            },
            properties: {
                repo: {
                    type: String,
                    notify: true
                }
            },
            insert: function() {
                var url = this.$.repositoryURL.value;
                var owner = url.split("/")[0];
                var repo = url.split("/")[1];

				// Make sure the URL is filled in.
				if (!url) {
                    this.fire("showErrorMessage", {text: "Please enter URL."})
                    return
                }
                // Check for valid owner.
                if (!owner) {
                    this.fire("showErrorMessage", {text: "Invalid owner."})
                    return
                }
                // Check for valid repo.
                if (!repo) {
                    this.fire("showErrorMessage", {text: "Invalid repo."})
                    return
                }
				if (this.$.mode.value == "weekday") {
                    var self = this;
					github.commit_activity(owner, repo, function(response) {
						chart.weekdayCommits(repo, response, function(base64Image) {
							insertData(base64Image.replace("data:image/png;base64,",""), "image");
						})
					}, function() {
                        this.fire("showErrorMessage", {text: "Connection Failed.\nPlease check your internet connection"})
                    });
				}
				else {
					github.participation(owner, repo, function(response) {
						chart.participation(repo, response, function(base64Image) {
                            insertData(base64Image.replace("data:image/png;base64,",""), "image");
                        })
					}, function() {
                        this.fire("showErrorMessage", {text: "Connection Failed."});
                    });
				}
            }
        });
    </script>

</dom-module>