<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="contributions-page">

    <template>
        <form id="form">
            <label class="ms-Label">Contributions graph</label>
            <div class="ms-TextField">
                <label class="ms-Label">Repository URL</label>
                <input  id="repositoryURL" placeholder="joeoh/GitMyStats" class="ms-TextField-field">
            </div>
            <div class="ms-TextField">
                <label class="ms-Label">Start Date</label>
                <input  id="startDate" type = "date" placeholder="DD/MM/YYYY" class="ms-TextField-field">
            </div>
            <div class="ms-TextField">
                <label class="ms-Label">End Date</label>
                <input  id="endDate" type = "date" placeholder="DD/MM/YYYY" class="ms-TextField-field">
            </div>
            <div>
                <label class="ms-Label">Additions/Deletions</label>
                <select id = "mode" name="mode">
                    <option value="a">Additions</option>
                    <option value="d">Deletions</option>
                    <option value="c">Combined</option>
                </select>
            </div>
            <div>
                <label class="ms-Label">Users</label>
                <select id = "userSelect" name="userSelect">
                    <option value="combined">All users</option>
                    <option value="singleUser">Single User</option>
                </select>
            </div>
            <div>
                <input  id="selectedUser" placeholder="eg, joeoh" class="ms-TextField-field">
            </div>

            <div>
                <smallButton on-click="cancel" class="ms-Button host-button">
                    <span class="ms-Button-label">Cancel</span>
                </smallButton>
                <smallButton on-click="insert" class="ms-Button host-button">
                    <span class="ms-Button-label">Insert</span>
                </smallButton>
            </div>
        </form>
    </template>

    <script>
        Polymer({
            is: "contributions-page",
            ready: function() {
                var now = new Date()
                this.$.endDate.valueAsDate = now
                this.$.startDate.valueAsDate = new Date().setFullYear(now.getFullYear() - 1)
            },
            cancel: function() {
                this.fire("toLandingPage")
            },
            insert: function() {
                var url = this.$.repositoryURL.value
                var owner = url.split("/")[0]
                var repo = url.split("/")[1]
                var startDate = new Date(this.$.startDate.value)
                var unixStartDate = startDate.getTime() / 1000
                var endDate = new Date(this.$.endDate.value)
                var unixEndDate = endDate.getTime() / 1000
                var mode = this.$.mode.value
                // singleUser is boolean true if dropdown selection is singleUser
                // otherwise calculate graph for all users
                var singleUser = this.$.userSelect.value == "singleUser"
                var selectedUser = this.$.selectedUser.value

                var user = singleUser ? selectedUser : null

                console.log("owner: " + owner)
                console.log("repo: " + repo)
                console.log("unixStartDate: " + unixStartDate)
                console.log("unixEndDate: " + unixEndDate)
                console.log("user: " + user)
                
                github.contributors(owner, repo, unixStartDate, unixEndDate, user, function(response) {
                    var points = github.contributionsPerWeek(response, mode)
                    console.log(points)
                    chart.line("Additions", points, function(base64Image) {
                        console.log(base64Image);
                        insertData(base64Image.replace("data:image/png;base64,",""), "image");
                    })
                }, null);
            }
        });

    </script>

</dom-module>