<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="commits-page.html">
<link rel="import" href="contributions-page.html">
<link rel="import" href="punchcard-page.html">
<link rel="import" href="issues-page.html">
<link rel="import" href="user-page.html">
<link rel="import" href="button-pair.html">
<link rel="import" href="help-page.html">

<dom-module id="gitmystats-app">

    <template>
        <span id="errorMessage" class="errorMessage ms-fontColor-red ms-fontWeight-semibold">
            {{errorMessage}}
        </span>
        <iron-pages id="ironPages" selected="{{selectedPage}}">
            <landing-page>
                <label class="ms-fontWeight-semibold">Choose a Graph Type</label>
                <div>
                    <button on-click="toCommits" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Commits</span>
                    </button>
                </div>
                <div>
                    <button on-click="toContributions" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Contributions</span>
                    </button>
                </div>
                <div>
                    <button on-click="toPunchcard" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Punchcard</span>
                    </button>
                </div>
                <div>
                    <button on-click="toIssues" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Issues</span>
                    </button>
                </div>
                <div>
                    <button on-click="toUser" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">User Profile</span>
                    </button>
                </div>
                <div>
                    <button id="helpButton" on-click="toHelp"
                            class="ms-Button host-button homeButton lrg-margin-top">
                        <span class="ms-Button-label">Help</span>
                    </button>
                </div>
            </landing-page>
            <commits-page></commits-page>
            <contributions-page></contributions-page>
            <punchcard-page></punchcard-page>
            <issues-page></issues-page>
            <user-page></user-page>
            <help-page></help-page>
        </iron-pages>
    </template>

    <script>
        Polymer({
            is: "gitmystats-app",
            properties: {
                // The amount of time to display an error message for.
                errorMessageTime: {
                    type: Number,
                    value: 2000 // in milliseconds
                },
                errorMessageTimeoutId: {
                    type: Number,
                    value: -1
                },
                // The index of the page currently being displayed.
                selectedPage: {
                    type: Number,
                    value: 0
                }
            },
            listeners: {
                "showErrorMessage": "showErrorMessage",
                "toLandingPage": "toLandingPage"
            },
            toLandingPage: function() { this.selectedPage = 0 },
            toCommits: function() { this.selectedPage = 1 },
            toContributions: function() { this.selectedPage = 2 },
            toPunchcard: function() { this.selectedPage = 3 },
            toIssues: function() { this.selectedPage = 4 },
            toUser: function() { this.selectedPage = 5 },
            toHelp: function() { this.selectedPage = 6 },
            // Show the error message in `detail.text` for `errorMessageTime`.
            showErrorMessage: function(_, detail) {
                clearTimeout(this.errorMessageTimeoutId)
                this.errorMessage = detail.text
                this.$.errorMessage.style.visibility = "visible"
                var self = this
                this.errorMessageTimeoutId = setTimeout(function() {
                    self.$.errorMessage.style.visibility = "hidden"
                }, self.errorMessageTime)
            },
        });
    </script>

</dom-module>