<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="gitmystats-app">

    <template>
        <span id="errorMessage" class="errorMessage ms-fontColor-red ms-fontWeight-semibold">
            {{errorMessage}}
        </span>
        <iron-pages id="ironPages" attr-for-selected="name" selected="{{selectedPage}}">
            <landing-page name="landingPage">
                <label class="ms-fontWeight-semibold">Choose a Graph Type</label>
                <div>
                    <button on-click="toCommits" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Commits</span>
                    </button>
                </div>
                <div>
                    <button on-click="toContributions" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Contributions</span>
                    </button>
                </div>
                <div>
                    <button on-click="toPunchcard" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Punchcard</span>
                    </button>
                </div>
                <div>
                    <button on-click="toIssues" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">Issues</span>
                    </button>
                </div>
                <div>
                    <button on-click="toUser" class="ms-Button host-button homeButton">
                        <span class="ms-Button-label">User Profile</span>
                    </button>
                </div>
                <div>
                    <button on-click="toHelp" class="ms-Button host-button homeButton lrg-margin-top">
                        <span class="ms-Button-label">Help</span>
                    </button>
                </div>
            </landing-page>
            <commits-page name="commitsPage" repo="{{repo}}"></commits-page>
            <contributions-page name="contributionsPage" repo="{{repo}}"></contributions-page>
            <punchcard-page name="punchcardPage" repo="{{repo}}"></punchcard-page>
            <issues-page name="issuesPage" repo="{{repo}}"></issues-page>
            <user-page name="userPage"></user-page>
            <help-page name="helpPage"></help-page>
        </iron-pages>
    </template>

    <script>
        Polymer({
            is: "gitmystats-app",
            properties: {
                // The amount of time to display an error message for.
                errorMessageTime: {
                    type: Number,
                    value: 2000 // in milliseconds
                },
                errorMessageTimeoutId: {
                    type: Number,
                    value: -1
                },
                repo: {
                    type: String,
                    value: "joeoh/gitmystats"
                },
                // The index of the page currently being displayed.
                selectedPage: {
                    type: String,
                    value: "landingPage"
                }
            },
            listeners: {
                "showErrorMessage": "showErrorMessage",
                "toLandingPage": "toLandingPage"
            },
            // Show the error message in `detail.text` for `errorMessageTime`.
            showErrorMessage: function(_, detail) {
                clearTimeout(this.errorMessageTimeoutId)
                this.errorMessage = detail.text
                this.$.errorMessage.style.visibility = "visible"
                var self = this
                this.errorMessageTimeoutId = setTimeout(function() {
                    self.$.errorMessage.style.visibility = "hidden"
                }, self.errorMessageTime)
            },
            // Functions for changing pages.
            toLandingPage: function() { this.selectedPage = "landingPage" },
            toCommits: function() { this.selectedPage = "commitsPage" },
            toContributions: function() { this.selectedPage = "contributionsPage" },
            toPunchcard: function() { this.selectedPage = "punchcardPage" },
            toIssues: function() { this.selectedPage = "issuesPage" },
            toUser: function() { this.selectedPage = "userPage" },
            toHelp: function() { this.selectedPage = "helpPage" },
        });
    </script>

</dom-module>