<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="help-page">

  <template>
    <label class="ms-fontWeight-semibold">Help Page</label>
    <button class="ms-Button host-button wide-button help-button">
      <span class="ms-Button-label">Commits</span>
    </button>
    <p class="ms-Label help-text">
      This will create a graph of commits from all users to a specified repository. Commits displayed by what day they were done:
      <img src="/src/images/commitsByDay.png" alt="commits by day" width="200">
      Commits per week: (every week since creation or a specified range)
      <img src="/src/images/commitsByWeek.png" alt="commits by week" width="200">
    </p>
    <button class="ms-Button host-button wide-button help-button sml-margin-top">
      <span class="ms-Button-label">Contributions</span>
    </button>
    <p class="ms-Label hidden help-text">
      This will create a user-sorted pie chart, bar chart or line graph of contributions made to a repository:
      <img src="/src/images/contributions.png" alt="contributions" width="200">
    </p>
    <button class="ms-Button host-button wide-button help-button sml-margin-top">
      <span class="ms-Button-label">Punch Card</span>
    </button>
    <p class="ms-Label hidden help-text">
      This will create a punchcard view displaying how many commits were made and at what time, within a specified date range:
      <img src="/src/images/punchcard.png" alt="punchcard view" width="200">

    </p>
    <button class="ms-Button host-button wide-button help-button sml-margin-top">
      <span class="ms-Button-label">Issues</span>
    </button>
    <p class="ms-Label hidden help-text">
      This will create a list of current standing issues in the repository.
    </p>
    <button class="ms-Button host-button wide-button help-button sml-margin-top">
      <span class="ms-Button-label">User Profile</span>
    </button>
    <p class="ms-Label hidden help-text">
      This will show user-specific data.
    </p>
    <button on-click="cancel"
            class="ms-Button host-button wide-button back-button lrg-margin-top">
      <span class="ms-Button-label">Back</span>
    </button>
  </template>

  <Script>
    Polymer({
      is: "help-page",
      ready: function() {
        // set ".help-button"s to toggle ".help-text"s
        $(this).ready(function(){
          $(".help-button").click(function() {
            var next = $(this).next(".help-text")
            // if opening the clicked help section
            if ($(next).is(":hidden"))
              // close anything that's not hidden
              $(".help-text").not(":hidden").slideToggle("fast")
            $(next).slideToggle("fast")
          })
        })
      },
      cancel: function() { this.fire("toLandingPage") }
    })
  </Script>
</dom-module>