<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="issues-page">

    <template>
        <label class="ms-fontWeight-semibold">Issues</label>
        <!-- owner and repo -->
        <div class="ms-TextField">
            <label class="ms-Label">Owner and Repo</label>
            <input id="repoOwner" value="{{repo::input}}" class="ms-TextField-field">
        </div>
        <!-- milestone -->
        <label class="ms-Label">Milestone</label>
        <input id="milestone" placeholder="Optional" class="ms-TextField-field">
        <!-- state: open, closed or all -->
        <label class="ms-Label">Opened, Closed or All</label>
        <select id="state">
            <option value="open">Open</option>
            <option value="closed">Closed</option>
            <option value="all">All</option>
        </select>
        <!-- assignee -->
        <label class="ms-Label">Assignee</label>
        <input id="assignee" placeholder="Optional" class="ms-TextField-field">
        <!-- labels -->
        <label class="ms-Label">Labels (comma separated)</label>
        <input id="labels" placeholder="Optional" class="ms-TextField-field">
        <!-- sort -->
        <label class="ms-Label">Sort By</label>
        <select id="sort">
            <option value="created">Created</option>
            <option value="updated">Updated</option>
            <option value="comment">Comment</option>
        </select>
        <!-- sort direction -->
        <label class="ms-Label">Sort Direction</label>
        <select id="sortDirection">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <!-- since -->
        <div>
            <label class="ms-Label">Max Results</label>
            <input id="max" type="number" value="10" min="1">
        </div>
        <button-pair></button-pair>
    </template>

    <script>
        Polymer({
            is: "issues-page",
            listeners: {
                "button-pair-insert": "insert"
            },
            properties: {
                repo: {
                    type: String,
                    notify: true
                }
            },
            insert: function() {
                // Get all user-entered values.
                const url = this.$.repoOwner.value
                const owner = url.split("/")[0]
                const repo = url.split("/")[1]
                const milestone = this.$.milestone.value
                const state = this.$.state.value
                const assignee = this.$.assignee.value
                const labels = this.$.labels.value.split(",").map(function(label) {
                    return label.trim()
                })
                const sort = this.$.sort.value
                const direction = this.$.sortDirection.value
                const max = parseInt(this.$.max.value)
                // Error handling.
                if (!url) {
                    this.fire("showErrorMessage", {text: "Please enter a URL."});
                    return;
                }
                // Insert image of graph.
				github.issues(owner, repo, milestone, state, assignee, labels,
                              sort, direction, max, function(response) {
                    console.log(response)
                    console.log("do something here")
                }, function() {
                    this.fire("showErrorMessage", {text: "GitHub request failed."})
                })
            }
        });
    </script>

</dom-module>