<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="punchcard-page">

    <template>
        <form id="form">
            <label class="ms-fontWeight-semibold">Punchcard</label>
            <label class="ms-Label">Repository URL</label>
            <input  id="repoOwner" value="{{repo::input}}" class="ms-TextField-field">
            <button-pair></button-pair>
        </form>
    </template>

    <script>
        Polymer({
            is: "punchcard-page",
            listeners: {
                "button-pair-insert": "insert"
            },
            properties: {
                repo: {
                    type: String,
                    notify: true
                }
            },
            insert: function() {
                // Get all user-entered values.
                const url = this.$.repoOwner.value
                const owner = url.split("/")[0]
                const repo = url.split("/")[1]
                // Error handling.
                if (!url) {
                    this.fire("showErrorMessage", {text: "Please enter a URL."});
                    return;
                }
                // Insert image of graph.
                github.punch_card(owner, repo, function(response) {
                    chart.punch_card(response, function(base64Image) {
                        insertData(base64Image.replace("data:image/png;base64,",""), "image");
                    })
                }, function() {
                    this.fire("showErrorMessage", {text: "Connection Failed."})
                })
            }
        });
    </script>

</dom-module>