<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="user-page">

    <template>
        <form id="form">
            <label class="ms-fontWeight-semibold">User profile</label>
            <div>
                <input  id="selectedUser" placeholder="eg, joeoh" class="ms-TextField-field">
            </div>
            <button-pair></button-pair>
        </form>
    </template>

    <script>
        Polymer({
            is: "user-page",
            listeners: {
                "button-pair-insert": "insert"
            },
            insert: function() {

                var selectedUser = this.$.selectedUser.value
                console.log(selectedUser)

				if (!selectedUser) {
					this.fire("showErrorMessage", {text: "No user given.<br>Please enter a username"})
                    return;
                }

                github.user(selectedUser, function(response) {
                    var responseLogin = response.login;
                    var avatar_url = response.avatar_url;
                    var responseName = response.name;
                    var public_repos = response.public_repos;
                    var created_at = response.created_at;
                    /*
                    console.log(responseLogin);
                    console.log(responseName);
                    console.log(public_repos);
                    console.log(created_at);
                    */
                    var stringToInsert = "Account name : " + responseLogin + "\n" +
                            "Name : " + responseName + "\n" +
                            "Number of Public Repos: " + public_repos + "\n" +
                            "Account created : " + created_at + "\n";
                    /*
                    insertData("Account name : " + responseLogin, "text");
                    insertData("Name : " + responseName, "text");
                    insertData(public_repos, "text");
                    insertData(created_at, "text");
                    */
                    insertData(stringToInsert, "text");

                }, function() {
                    this.fire("showErrorMessage", {text: "Connection Failed."});
                });
				console.log("tried to insert user data");

            }
        });
    </script>

</dom-module>