/* Variables */

$app-width: 200px;
$content-width: 175px;

html, body {
    height: 100%;
    width: 100%;
    @include ms-font-m;
}

body {
    @include ms-bgColor-neutralLighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

gitmystats-app {
    max-width: $app-width;
}

.homeButton {
    margin-top: 3px;
    height: 60px;
    width: $content-width;
}

.buttonPair {
    margin-top: 5px;
}

.errorMessage {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $content-width;
}