/* Variables */

$app-width: 200px;
$content-width: 175px;
$sml-margin: 3px;
$lrg-margin: 12px;

html, body {
    height: 100%;
    width: 100%;
    @include ms-font-m;
}

body {
    @include ms-bgColor-neutralLighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

gitmystats-app {
    max-width: $app-width;
}

.errorMessage {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $content-width;
}

.homeButton {
    margin-top: $sml-margin;
    height: 45px;
    width: $content-width;
}

.sml-margin-top {
    margin-top: $sml-margin;
}

.lrg-margin-top {
    margin-top: $lrg-margin;
}

.wide-button {
    height: 30px;
    width: $app-width;
}

.hidden {
    display: none;
}