html, body {
    height: 100%;
    width: 100%;
    @include ms-font-m;
}

body {
    @include ms-bgColor-neutralLighter;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form {
    @include placeholder-color($ms-color-neutralTertiary);
    width: 180px;
    button {
        margin-top: 5px;
        width: 100%;
    }
    smallButton{
        margin-top: 5px;
        width: 45%;
    }
}

.homeButton {
    margin-bottom: 3px;
    height: 60px;
    width: 175px;
}

.buttonPair {
    margin-top: 5px;
}

.hidden {
    display: none;
}